/Client/Data/*.csv.gz
!/Client/Data/stations.csv
/Client/Data/raw/*.csv.gz
!/Client/Data/raw/.gitkeep
/Client/Data/processed/*.csv.gz
!/Client/Data/processed/.gitkeep
/Server/Data/*.csv.gz
!/Server/Data/stations.csv
/Server/Data/raw/*.csv.gz
!/Server/Data/raw/.gitkeep
/Server/Data/processed/*.csv.gz
!/Server/Data/processed/.gitkeep
.Rhistory
.env
