/Client/Data/*.csv.gz
!/Client/Data/stations.csv
/Client/Data/raw/*.csv.gz
!/Client/Data/raw/.gitkeep
/Client/Data/processed/*.csv.gz
!/Client/Data/processed/.gitkeep
/Server/data/*.csv.gz
!/Server/data/stations.csv
/Server/data/raw/*.csv.gz
!/Server/data/raw/.gitkeep
/Server/data/processed/*.csv.gz
!/Server/data/processed/.gitkeep
/Client/analysed_data.rds
/Client/plots.rds
.Rhistory
.env
