<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Wyniki prognozowania pogody</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap" rel="stylesheet">
</head>
  <body>
    <main class="main">
        <h1 class="siteTitle">Wyniki analizy i prognozy pogody</h1>
        <p class="justified">Poniżej przedstawione zostały wyniki analizy i prognozowania maksymalnych i minimalnych dziennych temperatur zebranych z 5 stacji pogodowych z każdego z kontynentów. Stacje zostają automatycznie dobrane na podstawie ciągłości archiwalnych danych. Dane są następnie przetwarzane w celu stworzenia widocznych poniżej map oraz wykresów.</p>
        <div class="wideBoi">%CONTENT%</div>
    </main>
    <footer class="footer">
        Aplikacja prognozująca pogodę stworzona przez zespół w składzie:
        <ul>
            <li>Olga Krzyczkowska</li>
            <li>Agnieszka Radajewska</li>
            <li>Martyna Kolenda</li>
            <li>Karolina Kostrzewa</li>
        </ul>
    </footer>
  </body>
</html>
